# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=registry
PORT=5900

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify

# Microservices configuration
REPORTER_URL=http://localhost:5901
SCOPE_MANAGER_URL=http://localhost:5902

# JWT configuration
JWT_SECRET=governify_secret_key