# Service configuration
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=registry
PORT=5900
MONGO_URI=mongodb://localhost:27017/governify

# JWT configuration
JWT_SECRET=governify-secret

# Application-specific settings
MAX_ROLES_PER_ORGANIZATION = 100;
MAX_MEMBERS_PER_ORGANIZATION = 1000;
