# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=registry
PORT=5902

# Internal service URLs
AUTHENTICATOR_SERVICE_URL=http://localhost:5900
SCOPE_MANAGER_SERVICE_URL=http://localhost:5901
COMPUTER_SERVICE_URL=http://localhost:5903
FETCHER_SERVICE_URL=http://localhost:5904
DIRECTOR_SERVICE_URL=http://localhost:5906

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify-next

# JWT configuration
CLIENT_ID=registry
CLIENT_SECRET=registry_client_secret
JWT_SECRET=governify_next_secret_key
JWT_ISSUER=authenticator
JWT_AUDIENCE=governify-next